<nav class="navbar navbar-expand-lg navbar-light bg-light p-4 cont-nav">
    <a class="navbar-brand" href="#">Listado de Peliculas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="row collapse navbar-collapse" id="navbarSupportedContent">
        <div class="row col-8 offset-md-4">
            <form class="col-4 row form-inline my-2 my-lg-0 d-flex justify-content-end">
                <input class="col form-control mr-sm-2" type="search" placeholder="Accion, romance" aria-label="Search">
                <button class="col-3 btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <div class="col-8 d-flex justify-content-end">
                <a href="#">Agregar pelicula</a>
            </div>
        </div>
    </div>
</nav>
