<div class="position-relative" style="top: 50px; margin: 10px;">
    <div class="col-md-4 mt-4 mb-3 ml-0 mr-0 p-0">
        <div class="d-flex justify-end align-items-center col-form-start p-3">
            <div style="cursor: pointer;" (click)="changeOrderBy()">
                <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M7 5C7.55228 5 8 5.44772 8 6V15.5858L10.2929 13.2929C10.6834 12.9024 11.3166 12.9024 11.7071 13.2929C12.0976 13.6834 12.0976 14.3166 11.7071 14.7071L7.70711 18.7071C7.31658 19.0976 6.68342 19.0976 6.29289 18.7071L2.29289 14.7071C1.90237 14.3166 1.90237 13.6834 2.29289 13.2929C2.68342 12.9024 3.31658 12.9024 3.70711 13.2929L6 15.5858V6C6 5.44772 6.44772 5 7 5ZM16.2929 5.29289C16.6834 4.90237 17.3166 4.90237 17.7071 5.29289L21.7071 9.29289C22.0976 9.68342 22.0976 10.3166 21.7071 10.7071C21.3166 11.0976 20.6834 11.0976 20.2929 10.7071L18 8.41421V18C18 18.5523 17.5523 19 17 19C16.4477 19 16 18.5523 16 18V8.41421L13.7071 10.7071C13.3166 11.0976 12.6834 11.0976 12.2929 10.7071C11.9024 10.3166 11.9024 9.68342 12.2929 9.29289L16.2929 5.29289Z" fill="#0F1729"/>
                    </svg>
                <!-- <svg class="d-flex justify-end col-form-label" xmlns="http://www.w3.org/2000/svg" height="44px" viewBox="0 0 24 24" width="24px" fill="#fff"><path d="M0 0h24v24H0V0zm0 0h24v24H0V0zm.75.75h22.5v22.5H.75z" fill="none"/><path d="M14.94 4.66h-4.72l2.36-2.36zm-4.69 14.71h4.66l-2.33 2.33zM6.1 6.27L1.6 17.73h1.84l.92-2.45h5.11l.92 2.45h1.84L7.74 6.27H6.1zm-1.13 7.37l1.94-5.18 1.94 5.18H4.97zm10.76 2.5h6.12v1.59h-8.53v-1.29l5.92-8.56h-5.88v-1.6h8.3v1.26l-5.93 8.6z"/></svg> -->
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4 pb-5" style="margin: 0px 1%">
    <div *ngFor="let movie of movies">
        <div class="col">
            <div class="card">
                <div class="cont-image">
                    <a style="display: contents;" [routerLink]="['/movie/',movie.idDress]" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none">
                        <img src="{{baseUrl+'/'+movie.imagenUrl}}" class="card-img-top" alt="...">
                    </a>
                </div>
                <div class="card-body color-fondo-info">
                    <!-- <h2 class="card-title">{{movie.titulo}}</h2> -->
                    <a style="display: contents;" [routerLink]="['/movie/',movie.idDress]" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-decoration-none">
                        <p class="card-text titulo_item">{{movie.descripcion.substring(0, 100)}}</p>
                    </a>
                    <p class="card-text pt-2" style="color: gray;">{{movie.idDress}}</p>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">Color: {{movie.color.substring(0, 150)}}</p>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <p class="card-text">
                                Tallas Dispobibles: <br>
                                {{movie.stockS ? 'S' : ''}}
                                {{movie.stockM ? '- M' : ''}}
                                {{movie.stockL ? '- L' : ''}}
                                {{movie.stockXL ? '- XL' : ''}}
                            </p>
                        </div>
                    </div>
                    <button class="btn btn-success col-12">Reservar</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
