.cont-image {
    width:100%;
    height:450px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.cont-image img {    
    flex-shrink:0;
    -webkit-flex-shrink: 0;
    max-width:70%;
    max-height:90%;
}

.titulo_item {
    color: #848484;
}

.color-fondo-info {
    // background-color: gainsboro;
}

.color-fondo-info h2 {
    text-align: center;
    font-size: 18px;
}